
/* Normalize */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Nav-Bar */

.content-nav {
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 6em;
    align-items: center;
}

.navbar-img-container {
    display: flex;
}

.navbar-img-container img {
    width: 3.8em;
}

.navbar-links-list {
    display: flex;
    justify-content: space-between;
    width: 60em;
    margin: 1em 0;
}

.navbar-links-list-li {
    display: flex;
}

.navbar-links-list-li li {
    margin-left: 1em;
    font-size: 14px;
}

.navbars {
    display: flex;
    flex-direction: column;
    margin-left: 3em;
    justify-content: center;
}

.navbars ul {
    list-style: none;
}

.navbars ul a {
    text-decoration: none;
    color: #292929;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Nav-Bar-Secondary */

.secondary-navbar {
    display: flex;
    cursor: pointer;
}

.secondary-navbar > li > a {
    font-size: 16px;
}

.secondary-navbar li {
    margin-left: 1em;
}

.secondary-navbar-list {
    position: absolute;
    visibility: hidden;
    z-index: 50;
    width: 100%;
    height: 68%;
    margin-top: -1.5em;
    margin-left: -5em;
    align-items: center;
    text-align: center;
}

.secondary-navbar-col div {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.secondary-navbar-col {
    margin-left: 1em;
}

.secondary-navbar-btn {
    transform: translate(-31em, 14em);
}

.secondary-navbar-btn button {
    padding: .5em;
}

.secondary-navbar-list-li:hover .secondary-navbar-list {
    visibility: visible;
    display: flex;
}

.secondary-navbar-list .img {
    width: 5.5em;
}

/* Nav-Bar-Btn*/

.btn-pide {
    border: none;
    padding: .8em 2em;
    background-color: #ffbc0e;
    border-radius: 4px;
    cursor: pointer;
}



